/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Sorry implementation : © cardboardsphen, bga-dev@sphen.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 * 
 * Full source available at https://github.com/cardboardsphen/bga-sorry
 * 
 * -----
 *
 * sorry.css
 *
 * Sorry stylesheet
 *
 */

// Note: you must not use any @import directive

//********* You can start writing your CSS below this line: **********/

#board {
    position: relative;
    width: 900px;
    height: 900px;
    background-image: url('img/board.png');
}

.square {
    position: absolute;
    width: 48px;
    height: 48px;
}
.circle {
    position: absolute;
    width: 97px;
    height: 97px;
    border-radius: 50%;
}

#start-red {
    left: 226px;
    top: 101px;
}
#start-blue {
    left: 701px;
    top: 226px;
}
#start-yellow {
    left: 576px;
    top: 701px;
}
#start-green {
    left: 101px;
    top: 576px;
}
#home-red {
    left: 126px;
    top: 351px;
}
#home-blue {
    left: 451px;
    top: 126px;
}
#home-yellow {
    left: 676px;
    top: 451px;
}
#home-green {
    left: 351px;
    top: 676px;
}

.pawn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;

    & > * {
        overflow: visible;
    }
}

@keyframes possible-move-outline-pulse {
    0% {
        transform: none;
    }
    75% {
        transform: none;
    }
    100% {
        transform: scale(1.05);
    }
}
@keyframes possible-move-background-pulse {
    0% {
        opacity: 0.6;
    }
    85% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.8;
    }
}
.possible-move {
    outline-width: 5px;
    outline-style: dashed;
    cursor: pointer;
    z-index: 2;

    &.card-pile {
        outline-color: orange;
    }

    &.pawn,
    &.circle,
    &.square {
        animation: possible-move-outline-pulse 2s cubic-bezier(0.1, -0.6, 0.2, 0) infinite alternate;
    }

    &.pawn {
        &[id$='0'] {
            outline-color: cyan;
        }
        &[id$='1'] {
            outline-color: fuchsia;
        }
        &[id$='2'] {
            outline-color: chartreuse;
        }
        &[id$='3'] {
            outline-color: orange;
        }
    }

    &.circle,
    &.square {
        &.for-pawn-0 {
            outline-color: cyan;
        }
        &.for-pawn-1 {
            outline-color: fuchsia;
        }
        &.for-pawn-2 {
            outline-color: chartreuse;
        }
        &.for-pawn-3 {
            outline-color: orange;
        }
    }
}
.possible-move-destination {
    opacity: 0.6;
    animation: possible-move-background-pulse 2.4s cubic-bezier(0.1, -0.6, 0.2, 0) infinite alternate;

    &.for-pawn-0 {
        background-color: cyan;
    }
    &.for-pawn-1 {
        background-color: fuchsia;
    }
    &.for-pawn-2 {
        background-color: chartreuse;
    }
    &.for-pawn-3 {
        background-color: orange;
    }
}

.active-pawn {
    &.for-pawn-0 {
        box-shadow: 0 0 10px 2px cyan;
    }
    &.for-pawn-1 {
        box-shadow: 0 0 10px 2px fuchsia;
    }
    &.for-pawn-2 {
        box-shadow: 0 0 10px 2px chartreuse;
    }
    &.for-pawn-3 {
        box-shadow: 0 0 10px 2px orange;
    }
}

.selected-move {
    outline-width: 8px;
    outline-style: dashed;
    outline-color: black;
}

.card-pile {
    position: absolute;
    width: 150px;
    height: 100px;
}

#draw-pile {
    left: 375px;
    top: 325px;
}
#discard-pile {
    left: 375px;
    top: 475px;
}
#reveal-pile {
    left: 475px;
    top: 400px;
}

.card {
    width: 96px;
    height: 146px;
    position: absolute;
    background-image: url('img/cards.png');

    .card-pile & {
        left: 2px;
        top: 98px;
        transform: rotate(-90deg);
        transform-origin: top left;
    }

    &.hidden {
        visibility: hidden;
        display: block;
    }

    &[data-rank='back'] {
        background-position: 0% 0%;
    }
    &[data-rank='1'] {
        background-position: -100% 0%;
    }
    &[data-rank='2'] {
        background-position: -200% 0%;
    }
    &[data-rank='3'] {
        background-position: -300% 0%;
    }
    &[data-rank='4'] {
        background-position: 0% -100%;
    }
    &[data-rank='5'] {
        background-position: -100% -100%;
    }
    &[data-rank='7'] {
        background-position: -200% -100%;
    }
    &[data-rank='8'] {
        background-position: -300% -100%;
    }
    &[data-rank='10'] {
        background-position: 0% -200%;
    }
    &[data-rank='11'] {
        background-position: -100% -200%;
    }
    &[data-rank='12'] {
        background-position: -200% -200%;
    }
    &[data-rank='sorry'] {
        background-position: -300% -200%;
    }
}

#reveal-card {
    width: 96px;
    height: 146px;
    position: absolute;
    transform-origin: center;
    z-index: 3;

    .card {
        backface-visibility: hidden;
    }
}

#shuffle-cards {
    width: 150px;
    height: 100px;
    position: absolute;
    transform-origin: center;
    transform: rotate(-90deg);
    z-index: 3;

    .shuffle-card {
        width: 96px;
        height: 146px;
        top: -23px;
        left: 27px;
        position: absolute;
        transform-origin: center;

        .card {
            backface-visibility: hidden;
        }
    }
}
